.Card {
  margin: 10px 5px;
  text-decoration: none;
  border-radius: 7px;
}

.Card:hover {
  cursor: pointer;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.Card .image {
  width: 250px;
  height: 160px;
}

.Card .Vidtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
  font-size: 15px;
}

.Card .Vid {
  line-height: 0px;
  color: rgba(0, 0, 0, 0.596);
  background-color: rgb(255, 255, 255);
  margin: 0 10px;
  font-size: 12px;
}

.Card .Vid .watch {
  display: flex;
  flex-direction: row;
  line-height: 0px;
}
